@charset "UTF-8";
.balloon {
  display: inline-block;
  position: relative;
  min-height: 30px;
  max-width: 250px;
  width: auto;
  left: -2px;
  background-color: #ffffff;
  border-radius: 3px;
  z-index: 2;
  padding: 0px 4px 0px 4px;
  word-break: break-all;
}

#output {
  width: 400px;

  height: 480px;

  background-color: #94dbfb;
  display: inline-block;
  overflow-y: scroll;
}

#full {
  /* border:2px black;
border-style:solid; */
}

#chatbtn {
  background-color: yellow;
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 0px 8px 8px 0px;
  text-align: center;
  cursor: pointer;
  border: 1px;
}
#contents {
  position: relative;
  top: -2px;
  width: 300px;
  height: 62px;
  border-radius: 8px 0px 0px 8px;
  padding: 2px 2px 2px 2px;
}
