@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Marcellus+SC&family=Noto+Sans+KR&display=swap");

body {
  font-family: "Boogaloo", cursive;
  font-family: "Marcellus SC", serif;
  font-family: "Noto Sans KR", sans-serif;
}
