.login-top {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: end;
}

.login-top span {
  font-size: 13px;
}

.login-mainscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-logo {
  margin: 80px 0px;
}

.login-main_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-main_info input {
  width: 450px;
  height: 50px;
  margin-bottom: 30px;
}

#signinButton {
  width: 460px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  color: white;
  font-size: 14px;
  background-color: #94dbfb;
}

.login-main_search {
  display: flex;
  justify-content: space-between;
}

.login-main_idpw input {
  margin: 0px;
}

.login-another {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.login-another a input {
  width: 460px;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  color: white;
  font-size: 14px;
}

#naver {
  background-color: #1fcc00;
}

#kakao {
  background-color: #eedb00;
}

.login-img {
  margin-top: 30px;
}

.login-img div img {
  border-radius: 10px;
  opacity: 0.7;
  width: 450px;
  height: 190px;
}

.login-footer_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-nav_list {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.copyright {
  margin-bottom: 45px;
}
